# Supabase
SUPABASE_URL=https://bwaxqjjhwgwwumpcgvie.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ3YXhxampod2d3d3VtcGNndmllIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTcwNTQwNSwiZXhwIjoyMDk3MjgxNDA1fQ.LmMy4VyWCBbADVsgX82QqRGaBrluNvPQGYuW3wj4mpo

# SSW
SSW_DOMAIN=CLK
SSW_USERNAME=f4roter
SSW_PASSWORD=845764
SSW_CNPJ_EDI=45545143000117


# Opcional
EMPRESA_ID=
